<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(ViewData["Title"] ?? "Rockaway")</title>
	<link rel="stylesheet" href="~/css/frontend.css" asp-append-version="true" />
	@await RenderSectionAsync("Head", required: false)
</head>
<body class="container">
	<header>
		<a asp-page="/Index">Rockaway</a>
		<nav>
			<ul>
				<li>
					<a asp-action="Index" asp-controller="Artists">Artists</a>
				</li>
				<li class="nav-item">
					<a asp-action="Index" asp-controller="Venues">Venues</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		@RenderBody()
	</main>
	<footer>
		&copy; 2023 - Rockaway.WebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>