@use "sass:color";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

@import '../lib/font-awesome/scss/fontawesome.scss';
@import '../lib/font-awesome/scss/solid.scss';
@import '../lib/font-awesome/scss/brands.scss';

// 1. Import Bootstrap functions so we can use them in our customization
@import "../lib/bootstrap/dist/scss/functions.scss";

// 2. Customise Bootstrap by overriding variables here.
// Look at _variables.scss to see what's available to override:
$body-bg: #000;
$body-color: #fff;
$primary: #369 !default;
$font-family-sans-serif: 'PT Sans Narrow', Arial, helvetica, sans-serif;

// 3. Import the rest of the Bootstrap core libraries
@import "../lib/bootstrap/dist/scss/variables.scss";
@import "../lib/bootstrap/dist/scss/mixins.scss";
@import "../lib/bootstrap/dist/scss/utilities.scss";

// 4. Import Bootstrap modules.
// Either cherry-pick the pieces of Boostrap that we want to use in our site:
// @import "../lib/bootstrap/dist/scss/_reboot.scss";
// @import "../lib/bootstrap/dist/scss/_buttons.scss";
// @import '../lib/bootstrap/dist/scss/_containers.scss';
// @import "../lib/bootstrap/dist/scss/_grid.scss";

/* or just pull in the whole customised Boostrap library */
@import "../lib/bootstrap/dist/scss/bootstrap.scss";

/* Add custom CSS rules for our site here: */

@mixin smartphone {
	@media (max-width: 480px) {
		@content;
	}
}

@mixin fancy-panel($panel-color: color.scale($primary, $lightness: -75%)) {
	margin: $grid-gutter-width 0;
	border-radius: 2 * $border-radius;
	padding: 2 * $border-radius;
	background-color: $panel-color;
	border: 1px solid $body-color;

	@include smartphone {
		border: 0;
		border-radius: 0;
		margin: 0 0 $grid-gutter-width/2 0;
	}
}


html {
	background: linear-gradient(150deg, color.scale($primary, $lightness: -70%) 0%, color.scale($primary, $lightness: -50%) 50%, color.scale($primary, $lightness: -80%) 100%);
	background-attachment: fixed;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	@include smartphone {
		padding: 0 !important;
	}

	background: none;

	> main {
		@include fancy-panel;
	}

	> header {
		@include fancy-panel;
		display: flex;
		justify-content: space-between;
		position: relative;

		label#nav-toggle {
			display: none;

			@include smartphone {
				font-size: 200%;
				display: block;
				position: absolute;
				z-index: 2;
				top: -5px;
				right: 5px;
			}
		}

		input#nav-checkbox {
			height: 0;

			@include smartphone {
				&:checked ~ nav {
					height: 300px;
				}
			}
		}

		h1 {
			margin: 0;
			font-size: 0;
			height: 38px;
			width: 200px;
			background: url(/img/rockaway-logotype.svg) left center no-repeat;
			background-size: cover;
		}

		nav {
			@include smartphone {
				position: absolute;
				overflow-y: hidden;
				display: block;
				top: 0;
				left: 0;
				right: 0;
				height: 0;
				transition: height 0.2s ease;

				a {
					border-radius: 0 !important;
					display: block;
					width: 100%;
					border-top: 1px solid $body-color;
				}
			}

			a {
				background: $primary;
				display: inline-block;
				padding: 4px 16px;
				color: $body-color;
				font-size: 120%;
				border-radius: $border-radius;
				text-decoration: none;

				&:hover {
					color: $body-color;
					background: color.scale($primary, $lightness: -50%);
				}
			}
		}
	}

	> footer {
		@include fancy-panel;
		font-size: 80%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;

		span {
			flex-grow: 1;

			@include smartphone {
				text-align: center;
			}
		}

		nav {
			text-align: right;
			flex-grow: 1;

			a {
				display: inline-block;
				border-left: 1px solid #fff;
				padding: 0 0.5em;
				text-decoration: none;
				color: $body-color;
			}

			a:first-child {
				border: none;
			}

			a:hover {
				color: $body-color;
				text-decoration: underline;
			}

			@include smartphone {
				width: 100%;
				text-align: center;

				a {
					display: block;
					border: 0;
				}
			}
		}
	}
}

.artist-gallery {
	@include make-row();

	section {
		margin-bottom: 16px;

		@include make-col-ready();

		@include media-breakpoint-up(sm) {
			@include make-col(6);
		}

		@include media-breakpoint-up(md) {
			@include make-col(4);
		}

		@include media-breakpoint-up(lg) {
			@include make-col(3);
		}

		@include media-breakpoint-up(xxl) {
			@include make-col(2);
		}



		div {
			display: flex;
			flex-direction: column;
			flex: 1;
			height: 100%;
			background-position: center top;
			background-size: auto 200px;
			background-repeat: no-repeat;
			padding-top: 150px;

			h4 {
				padding: $container-padding-x / 2;
				background-color: rgba(0,0,0,0.8);
				left: 0;
				right: 0;
			}

			p {
				margin-top: 8px;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			a {
				display: block;
				margin-top: auto;
			}
		}
	}
}

article.artist-details {
	img {
		width: 100%;
		@include media-breakpoint-up(sm) {
			width: 25%;
			float: right;
		}

		margin-bottom: $paragraph-margin-bottom;
	}

	hr {
		clear: both;
	}
}
